@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Tiny College</h1>
    <p class="lead">Slogan about class stuff and things. Make it wordy and vague</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more »</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now!</h2>
        <p>
            The first step to your new career starts here.\n
            Book a toor, request information or apply right meow.\n
            There is no application fee.\n
        </p>
        <p><a class="btn btn-default" href="#">Apply! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.\n
            filler\n
            filler\n
        </p>
        <p><a class="btn btn-default" href="#">View Campus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>
            filler\n
            filler\n
            filler\n
        </p>
        <p><a class="btn btn-default" href="#">Our Programs &raquo;</a></p>
    </div>
</div>